#blue {
	background-color: blue;
}
#red {
	background-color: red;
}
#yellow {
	background-color: yellow;
}

#background {
	background-image: url("images.jpg");
}

#subtitle {
	color: black;
	text-align: center;
}

#favicon {
	color: black;
	font-weight: lighter;
	font-family: sans-serif;
}

#main-panel {
	height: 100vh; 
	background-image: url('cutting-board-with-veg.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover;
}
 
.center {
	color: lightgoldenrodyellow;
	align-items: center;
	text-align: center;	
}

.title {
	color: white;
	text-align: center;
	font-weight: 600;
	
}

.navbar a{
	font-family: sans-serif;
	font-weight: lighter;
}

