#blue {
	background-color: blue;
}
#red {
	background-color: red;
}
#yellow {
	background-color: yellow;
}

#left {
	background-color: indianred;
}

#right {
	background-color: darksalmon;
}
#background {
	background-image: url("images.jpg");
}

#subtitle {
	color: black;
	text-align: center;
	
}
 
.center {
	color: whitesmoke;
	align-items: center;
	text-align: center;
	
	
}


.title {
	color: white;
	text-align: center;
	font-weight: 600;
	
}