#blue {
	background-color: blue;
}
#red {
	background-color: red;
}
#yellow {
	background-color: yellow;
}

#background {
	background-image: url("images.jpg");
}
 
.title {
	color: white;
	text-align: center;
	font-weight: 600;
	
}